---
layout: default
title: FIRST Robotics

research: passive
projects: active

description: FIRST Robotics
---
<div class="text-center">
	<h1>{{page.description}}</h1>

	<img class="img-fluid" src="/img/2415_010.jpg" height="300">
	<br>
	<br>

	<p>I did FIRST Robotics for several years, starting off in FIRST Lego League in middle school (2007 - 2009) and then FIRST Robotics Competition (FRC) in high school (2010 - 2013), eventually becoming team co-captain and coding team captain.</p>

	<p>FIRST is by far what inspired me to pursue engineering as strongly as I do now, exposing me to the best practices behind CAD, wiring, and software. In my four years on the team, my FRC team <a href="https://www.thebluealliance.com/team/2415/history">#2415</a> qualified for internationals four times in a row, won three regionals in 2011 and 2012, won Regional Chairman's Award in 2010, and were international championship division finalists in 2013.</p>

	<p> As the only girl on the build team, I also learned how to work under pressure in a male-dominated environment. I proved myself by eventually becoming team co-captain and encouraged other girls to join the team by starting a <a href="http://zerorobotics.mit.edu/">Zero Robotics</a> team that was 60% female, encouraging other girls to learn how to code. Later, I <a href="https://docs.google.com/presentation/d/1LLGsEmha5Juu0H190_mvdRIWQnGL0vivfppi37TVn8E/edit?usp=sharing">presented about my experiences</a> for Girls Who Code 2015 at Square.</p>

<br>
<button data-target="#2415-image-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Image Gallery</button>

<div id="2415-image-gallery" class = "gallery container collapse">
	<br>
	{% include gallery-row-4.html gallery="2415" img1="2415_001.jpg" title1 = "Render of 2012 Robot" caption1 = "" img2 = "2415_002.jpg" title2 = "2010, 2011 and 2009 Robots" caption2 = "" img3 = "2415_003.jpg" title3 = "Programming the 2012 Robot" caption3 = ""	img4 = "2415_004.jpg" title4 = "Internationals 2012 Pits" caption4 = "" %}
	{% include gallery-row-4.html gallery="2415" img1="2415_005.jpg" title1 = "Internationals 2012 Pits" caption1 = "" img2 = "2415_006.jpg" title2 = "Internationals 2012 Pits" caption2 = "" img3 = "2415_007.jpg" title3 = "Internationals 2012 Pits" caption3 = ""	img4 = "2415_008.jpg" title4 = "Internationals 2012 Pits" caption4 = "" %}
	{% include gallery-row-2.html gallery="2415" img1="2415_009.png" title1 = "Internationals 2012" caption1 = "" img2 = "2415_010.jpg" title2 = "Internationals 2013" caption2 = "" %}
</div>


<button data-target="#2415-video-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Video Gallery</button>
<div id="2415-video-gallery" class = "gallery container collapse">
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bC3eu9r0_u4?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zwLzZ2wYA_A?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IvYLziL9F00?rel=0" frameborder="0" allowfullscreen></iframe>
	<br><br><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AyGiUm9Bg0o?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

</div>
