---
layout: default
title: Hardware

research: passive
projects: active
activities: passive
description: Hardware Projects of Tyler King
---
<!-- Portfolio pictures should fit 700 x 300  -->
<!-- TODO: Get pictures of design notebook -->



<div class = "other-projects">
	{% include project-blurb.html preview="My project.png" inDepth="https://w2cxm.github.io/" title="Radio Club: Balloon Drop" subtitle="Spring 2022" description="As a part of the radio club, I was tasked with wiring and harnessing the internal components of our balloon drop mechanism. Additionally helped with telemetry and tracking for our payload. "%}

	{% include project-blurb.html preview="My project (2).png" inDepth="https://makerclub.ece.cornell.edu/" title="Maker Club: Pulse Width Modulation Circuit" subtitle="Fall 2021" description="Simulated a pulse width modulation circuit in NI Multisim. Built the carrier frequency portion before stopping due to missing components."%}
</div>



