---
layout: default
title: Hardware

research: passive
projects: active
activities: passive
description: Hardware Projects of Lilly Chin
---
<!-- Portfolio pictures should fit 700 x 300  -->
<!-- TODO: Get pictures of design notebook -->

<div class = "best-projects">
	<h2>Notable Projects</h2>
	{% include project-blurb.html inDepth="forceps.html" preview="275-preview.png" title="2.75 - Delivery Forceps" subtitle="Taken in Fall 2016" description="Forceps with rotational and sensing capabilities for operative vaginal delivery"%}

	{% include project-blurb.html inDepth="lathe.html" preview="272-preview.png" title="2.72 - Desktop Lathe" subtitle="Taken in Spring 2016<br> Won Class Competition" description="Desktop lathe with 50 micron precision, even after being dropped"%}

	{% include project-blurb.html inDepth="MASLAB.html" preview="maslab-preview.png" title="MASLAB Competition" subtitle="Built in 2016 <br> Won First Place" description="Cube-stacking autonomous robot built in a month"%}

	{% include project-blurb.html inDepth="yoyo.html" preview="2008-preview.jpg" title="2.008 - Yoyos" subtitle="Taken in Fall 2015" description="Design and manufacture 50 yoyos by injection-molding and thermoforming"%}

	{% include project-blurb.html inDepth="makemit2015.html" preview="makemit15-preview.jpg" title="MakeMIT - Ceiling Tile Painter" subtitle="Built in Feb. 2015" description="Programmable gantry painter built in 24 hours"%}

	{% include project-blurb.html inDepth="introDesign.html" preview="200-preview.jpg" title="2.00 - Skynet / SleepCycle" subtitle="Taken in Spring 2015" description="Balloon popping competition / product design for a bikepacker"%}

	{% include project-blurb.html inDepth="makemit2014.html" preview="makemit14-preview.jpg" title="MakeMIT - Guitar-Playing Robot" subtitle="Built in Feb. 2014 <br> Won First Place" description="Strums with solenoids, frets with rack and pinion. Built in 24 hours"%}
</div>

<div class = "other-projects">
	<h2>Other Projects</h2>
	{% include small-blurb.html preview="6131-icon.jpg" url='/img/6131_001.jpg' title="6.131: Audio Equalization Board" subtitle="Fall 2015" description="As the final project of 6.131, Power Electronics Lab, I made a simple audio equalizer board. The board would filter out bass, treble and mid level frequencies, amplify them according to user input and output the sound."%}

	{% include small-blurb.html preview="6115-icon.jpg" url='leeb6115.html' title="6.115: Virtual Reality Game" subtitle="Spring 2015 | <a href='leeb6115.html'>More Info</a>" description="As the final project of 6.115, Micrcocontroller Project Lab, I created a simple virtual reality game. The player would control their character through a maze on an LCD screen by shining a flashlight on to different light sensors while stepping on a pressure pad to control their movements."%}

	{% include small-blurb.html preview="skates-icon.jpg" url="derpSkates.html" title="DerpSkates" subtitle="Jan. 2015 | <a href='derpSkates.html'>More Info</a>" description="Attempt to make skates that could be worn with normal shoes on, allowing you to easily slip them on and off. Mostly a lesson in planning."%}

	{% include small-blurb.html preview="2415-icon.jpg" url="FIRSTrobotics.html" title="FIRST Robotics" subtitle="2007 - 2013 | <a href='FIRSTrobotics.html'>More Info</a>" description="Team captain, lead programmer, and only girl on the build team for a internationally ranked robotics team. What really inspired me to be an engineer."%}
</div>


