---
layout: default
title: Hardware

research: passive
projects: active
activities: passive
description: Hardware Projects of Tyler King
---
<!-- Portfolio pictures should fit 700 x 300  -->
<!-- TODO: Get pictures of design notebook -->



<div class = "projects">
	{% include small-blurb.html preview="6131-icon.jpg" url='/img/6131_001.jpg' title="Radio Club: Balloon Drop" subtitle="Spring 2022" description="As the final project of 6.131, Power Electronics Lab, I made a simple audio equalizer board. The board would filter out bass, treble and mid level frequencies, amplify them according to user input and output the sound."%}

	{% include small-blurb.html preview="6115-icon.jpg" url='leeb6115.html' title="Maker Club: Pulse Width Modulation Circuit" subtitle="Fall 2022" description="As the final project of 6.115, Micrcocontroller Project Lab, I created a simple virtual reality game. The player would control their character through a maze on an LCD screen by shining a flashlight on to different light sensors while stepping on a pressure pad to control their movements."%}

	{% include small-blurb.html preview="skates-icon.jpg" url="derpSkates.html" title="PHYS 1110: Computing Maximal Amplitude in Driven RLC Circuit" subtitle="Fall 2022" description="Attempt to make skates that could be worn with normal shoes on, allowing you to easily slip them on and off. Mostly a lesson in planning."%}

</div>


