---
layout: default
title: 6.115 

research: passive
projects: active

description: 6.115 - Spring 2015
---
<div class="text-center">
	<h1>{{page.description}}</h1>

	<img class="img-fluid" src="/img/6115_002.jpg" height="400">
	<br>
	<br>

	<p>I took both of <a href="http://www.rle.mit.edu/people/directory/steven-leeb/">Steve Leeb's</a> classes: <a href="http://web.mit.edu/6.115/www/">6.115 - Microcontroller Project Lab</a> - in Spring 2015, and <a href="http://web.mit.edu/6.131/www/">6.131 - Power Electronics Lab</a> - in Fall 2015. These classes are (in)famous for the sheer amount of workload that they require and their open-ended final projects. Although I learned a lot from both classes, I found that I enjoyed and got a more diverse skillset out of 6.115. </p>

	<p>6.115's class philosophy is to teach you how to approach, design and debug an embedded system rather than how to use a specific kind of microcontroller. In this vein, the main chip used in the course was an Intel 8051, and part of the first lab was to look through the datasheet and understand how to communicate via serial to it. Through tihs class, I not only learned how to write assembly, use an oscilloscope and refer to datasheets, but also how to debug a circuit, keep a good lab notebook and break down a problem into approachable pieces. Sample pages of my lab notebook and assembly code can be found <a href="/files/ltchin_6115_sample.pdf">here</a>. </p>

	<p>My final project in the course was a Nethack-inspired maze game programmed in C on a Cypress PSoC (Programmable System on a Chip). By shining a flashlight on different light sensors and stepping on a homemade presure pad to control movement, the player would control their character through a maze on an LCD screen. I did not get to add in as many features as I hoped for, which helped to teach me the importance of scoping a project's timeline.</p>

	<p>6.115 helped crystalize my love for interdisciplinary engineering work. While 6.131 did a great job forcing strong designs via one-on-one design reviews, I found myself less interested in the material as all of the power electronics circuits seemed just like variations on a few amplifier designs to meet design specifications. I preferred the wider applications of microcontroller design in 6.115, which ended up steering me away from pure circuit design and to more embedded systems. </p>

<button data-target="#6115-image-gallery" class="btn btn-default" data-toggle="collapse" aria-pressed="false">Toggle Image Gallery</button>

<div id="6115-image-gallery" class = "gallery container collapse">
	<br>
	{% include gallery-row-4.html gallery="6115" img1="6115_001.jpg" title1 = "Lab 1 Circuit" caption1 = "Create a mini calculator" img2 = "6115_002.jpg" title2 = "Lab 2 Overview" caption2 = "Create a ballast circuit for a fluorescent bulb. Fluorescent bulbs need a very high initial voltage in order to light the plasma inside, but then need to have the voltage dialed back for steady state operation" img3 = "6115_003.jpg" title3 = "Lab 2 - The Bulb is On!" caption3 = ""	img4 = "6115_004.jpg" title4 = "Circuit for Lab 2" caption4 = "" %}
	{% include gallery-row-4.html gallery="6115" img1="6115_005.jpg" title1 = "Lab 3 Circuit" caption1 = "Create a sine-wave generator and use this to make a laser mirror system output Lissajous curves<br> My ribbon cables stop working so I start descending into a rats' nest" img2 = "6115_006.jpg" title2 = "Lab 3 Circuit" caption2 = "Create a sine-wave generator and use this to make a laser mirror system output Lissajous curves<br> My ribbon cables stop working so I start descending into a rats' nest" img3 = "6115_007.jpg" title3 = "Lab 3 Circuit" caption3 = "Create a sine-wave generator and use this to make a laser mirror system output Lissajous curves<br> My ribbon cables stop working so I start descending into a rats' nest"	img4 = "6115_008.jpg" title4 = "Lab 4 Circuit" caption4 = "Control a robot arm via homemade PWM<br> My ribbon cables stop working so I start descending into a rats' nest" %}
	{% include gallery-row-3.html gallery="6115" img1="6115_009.jpg" title1 = "Lab 5 Circuit" caption1 = "Make feedback control for a buck converter<br> My ribbon cables stop working so I start descending into a rats' nest" img2 = "6115_010.jpg" title2 = "Final Project Overview" caption2 = "Breadboard has the light sensors on it. Pressure pad is on the floor off camera" img3 = "6115_011.jpg" title3 = "Final Project LCD" caption3 = ""%}
</div>

</div>
