---
layout: default
title: Research

research: active
projects: passive
description: Research Experience of Tyler King
---
<h1>Research</h1>
<p>My overarching research vision is to develop novel approaches for optimization using non-classical computing. To this end, I take a two-pronged approach in research: algorithmic theorization and analysis/testing. Combined, I hope to build a more nuanced comprehension of the field and have a wider reach with my work. </p>



<ul data-toc="div.container" data-toc-headings="h2, h4"></ul>

<center><hr width="75%"></center>


<h2>McMahon Lab</h2>
<p></p>
<p> Due to the computational inefficiency of certain problems including vehicle routing problems with time windows (VRPTWs) or image classification, it can be viable to approach these problems using non-traditional means such at the <b>coherent Ising machine</b> (CIM) or other physical solvers. Our goal is to benchmark unconventional computing algorithms against traditional frameworks, showcasing increased energy efficiency in these domains. </p>

{% include project-blurb.html preview="fig1_big(1).png" title="Nonlinear Dynamical Networks as Neural ODEs for Image Classification" description="Coupled oscillator neural networks for image classification tasks including CIFAR-10 and MNIST."%}
{% include project-blurb.html inDepth="https://github.com/mcmahon-lab/cim-optimizer" preview="nativeQUBOthing.PNG" title="cim-optimizer" description="Open-source repository that simulates the dynamics of various CIM solvers."%}
{% include project-blurb.html preview="arcbasedcoupling.png"  title="Benchmarking the Coherent Ising Machine for Vehicle Routing Problems with Time Windows" description="Testing various VRPTW implementations on simulated CIM code for large-scale instances. <b> AVAILABLE UPON REQUEST. </b>"%}

<h2>Computational Imaging Lab</h2>
<p></p>
<p> Humans tend to leverage various heuristics in their optimization of dependent choices. We apply various neural networks along with older statistical models like logistical regression to capture this behaviour using cognitive biases such as loss aversion and anchoring. </p>
{% include project-blurb.html inDepth="ICT/complex_choices.html" preview="landscapePicture2 (1).png" title="An Experimental Method for Studying Complex Choices" description="To better understand how humans approach complex decisions, we introduce an experimental paradigm that involves rotating dials that control the dimension of a nonlinear problem, along with analyzing these results."%}

<h2>Helbling Lab</h2>
<p></p>
<p> Aquatic environments are challenging to monitor, motivating centimeter-scale bio-inspired robotic swimmers that use fin-based propulsion to maneuver through confined natural and engineered waterways (e.g., streams, lakes, pipes) while enabling studies of fish-locomotion hydrodynamics. To contribute to this body of research, I introduced tracking software and developed control algorithms for centimeter-scale robotic swimmers dubbed DanioBot.</p>

{% include project-blurb.html inDepth="helbling/daniobot.html" preview="DaniobotRevised1.png" title="Design of a swimming microrobot powered by a single piezoelectric bender" description="We introduce DanioBot, a centimeter-scale piezoelectrically actuated microrobotic fish that uses a single bimorph bender to swim up to 2.84 body lengths per second. DanioBot's near-resonant swimming-speed–frequency behavior is captured by a simple analytical model advancing toward power-autonomous mm-scale robotic fish."%}


<h2>Institute for Creative Technologies</h2>
<p></p>
<p> Humans tend to leverage various heuristics in their optimization of dependent choices. We apply various neural networks along with older statistical models like logistical regression to capture this behaviour using cognitive biases such as loss aversion and anchoring. </p>
{% include project-blurb.html inDepth="ICT/complex_choices.html" preview="landscapePicture2 (1).png" title="An Experimental Method for Studying Complex Choices" description="To better understand how humans approach complex decisions, we introduce an experimental paradigm that involves rotating dials that control the dimension of a nonlinear problem, along with analyzing these results."%}
{% include project-blurb.html inDepth="ICT/complex_task_classification.html" preview="complex_task_classification_pipeline-1.png" title="Detecting AI Assistance in Abstract Complex Tasks" description="We frame detecting AI assistance as a classification problem and show that by preprocessing abstract task data into four image-based representations plus a time-series encoding of users’ exploration/exploitation, standard deep learning models can accurately detect AI aid."%}

<!-- <h2>Past Summer Research</h2>
<p></p>
<p>  </p>

{% include project-blurb.html inDepth="miscellaneous/qc.html" preview="resplot.PNG" subtitle="Summer 2021" title="Error Analysis of 3-qubit Standard and Modified Grover’s Algorithms through Noisy Channels" description="An unpublished manuscript covering my work over summer 2021 and some related PSETs I did in conjunction with it."%}
{% include project-blurb.html inDepth="miscellaneous/startopology.html" preview="weighted regions 2.PNG" subtitle="Summer 2020 - Summer 2021" title="Minimum Path Star Topology Algorithms for Weighted Regions and Obstacles" description="Research conducted with Professor Soltys at CSUCI that details generalizations of Weiszfeld's algorithm to weighted regions and obstacles."%} -->



<h2>Space Systems Design Studio</h2>
<h5>Cislunar Explorers</h5>
<p></p>
<p>My work at Space Systems Design Studio (SSDS) involved working with Cislunar Explorer's satellite and ground station to make sure that the two were correctly performing their tasks. My efforts were initially devoted towards hardware, and thus I focused heavily on making sure our individual ground station components were working and testing the uplinking and downlinking processes between our model satellite (flatsat) and our ground station. Over time, I began moving more into software, initially working with registration key manipulation to fix our encryption scheme for downlinking and eventually moving onto the optical navigation subteam, where I worked on dynamic position estimation and testing for our satellite using <b>unscented Kalman filters</b>. </p>

{% include project-blurb.html inDepth="cislunar/Cislunar_Explorers_Semester_Report_SP22.pdf" preview="Trajectory UKF flowchart (1).png" title="Spring 2022 End of Semester Report: Optical Navigation subteam" description="Encompasses work I did for optical navigation with a heavy focus on unscented Kalman filter analysis and unit testing."%}
{% include project-blurb.html inDepth="cislunar/Cislunar_Explorers_Semester_Report_FA21.pdf" preview="Image from iOS.jpg" title="Fall 2021 End of Semester Report: Communications subteam" description="Encompasses work I did for the ground station and telemetry for satellite uplinking/downlinking."%}
