---
layout: default
title: Research

research: active
projects: passive
description: Research Experience of Tyler King
---
<h1>Research</h1>
<p>My overarching research vision is to develop novel approaches for optimization in operations research-esque environments. To this end, I take a two-pronged approach in research: algorithmic development and algorithmic analysis/testing. Combined, I hope to build a more nuanced comprehension of the field and have a wider reach with my work. </p>



<ul data-toc="div.container" data-toc-headings="h2, h4"></ul>

<center><hr width="75%"></center>

<h2>Space Systems Design Studio</h2>
<h5>Cislunar Explorers</h5>
<p></p>
<p>My work at Space Systems Design Studio (SSDS) involved working with Cislunar Explorer's satellite and ground station to make sure that the two were correctly performing their tasks. My efforts were initially devoted towards hardware, and thus I focused heavily on making sure our individual ground station components were working and testing the uplinking and downlinking processes between our model satellite (flatsat) and our ground station. Over time, I began moving more into software, initially working with registration key manipulation to fix our encryption scheme for downlinking and eventually moving onto the optical navigation subteam, where I worked on dynamic position estimation and testing for our satellite using <b>unscented Kalman filters</b>. </p>

{% include project-blurb.html inDepth="cislunar/Cislunar_Explorers_Semester_Report_SP22.pdf" preview="Trajectory UKF flowchart (1).png" title="Spring 2022 End of Semester Report: Optical Navigation subteam" description="End of semester report encompassing work I did for optical navigation with a heavy focus on unscented Kalman filter analysis and unit testing."%}
{% include project-blurb.html inDepth="cislunar/Cislunar_Explorers_Semester_Report_FA21.pdf" preview="Image from iOS.jpg" title="Fall 2021 End of Semester Report: Communications subteam" description="End of semester report encompassing work I did for the ground station and telemetry for satellite uplinking/downlinking."%}

<h2>McMahon Lab</h2>
<p></p>
<p> Due to the computational difficulty with computing minimums for certain problems like vehicle routing problems with time windows (VRPTWs), it can be viable to approach these problems using non-traditional means such at the <b>coherent Ising machine</b> (CIM), a physical solver. Our goal is to benchmark the CIM and compare it to traditional solvers like CPLEX and Gurobi, especially for large instances. </p>

{% include project-blurb.html inDepth="mcmahon/AEP_4900_End_of_Semester_Report_SP22.pdf" preview="freeAndStateVar (1).png" title="Benchmarking the Coherent Ising Machine for Vehicle Routing Problems with Time Windows" description="Testing various VRPTW implementations on simulated CIM code for large-scale instances. <b> AVAILABLE UPON REQUEST. </b>"%}
{% include project-blurb.html preview="arcbasedcoupling.png" title="Aggregation of monthly slides for CIM VRPTW solving" description="Monthly updates that were conducted and presented or co-presented by me. <b>AVAILABLE UPON REQUEST. </b>"%}


<h2>Institute for Creative Technologies</h2>
<p></p>
<p>  </p>
{% include project-blurb.html inDepth="ICT/complex_choices.html" preview="landscapePicture2 (1).png" title="An Experimental Method for Studying Complex Choices" description="To better understand how humans approach complex decisions, we introduce an experimental paradigm that involves rotating dials that control the dimension of a nonlinear problem, along with analyzing these results."%}

<h2>Miscellaneous Research</h2>
<p></p>
<p>  </p>

{% include project-blurb.html inDepth="qctemp.html" preview="resplot.png" title="Error Analysis of 3-qubit Standard and Modified Grover’s Algorithms through Noisy Channels" description=""%}


<h2>Process-Energy-Environmental Systems Engineering (PEESE)</h2>
<p></p>
<p>Will update when more progress is made.</p>
