<br>
<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<!-- Remember to update me when change the website! -->
	<p><small>Last updated: September 1st, 2023<br>
	Email: <span class="obfuscate">ude.llenroc@22ktt</span></small></p>
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="/about" title="About this site">About this site</a><br>
	<a href="mailto:tylertking2003@gmail.com?subject=subject text">Contact Me</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
