<div class="row">
    {% include gallery-element.html img=include.img1 gallery=include.gallery title=include.title1 caption=include.caption1 %}
    {% include gallery-element.html img=include.img2 gallery=include.gallery title=include.title2 caption=include.caption2 %}
    {% include gallery-element.html img=include.img3 gallery=include.gallery title=include.title3 caption=include.caption3 %}
    {% include gallery-element.html img=include.img4 gallery=include.gallery title=include.title4 caption=include.caption4 %}
</div>
<br>
