<div class="row">
	<div class="col-md-1" style="width: 12.499999995%"></div>
    {% include gallery-element.html img=include.img1 gallery=include.gallery title=include.title1 caption=include.caption1 %}
    {% include gallery-element.html img=include.img2 gallery=include.gallery title=include.title2 caption=include.caption2 %}
    {% include gallery-element.html img=include.img3 gallery=include.gallery title=include.title3 caption=include.caption3 %}
    <div class="col-md-1" style="width: 12.499999995%"></div>
</div>
<br>
