<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Lilly Chin">
	<link rel="shortcut icon" href="/img/favicon.ico" />
	
	<title>{{ page.title }} | Lilly Chin</title>		
	<!-- styles -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/ekko-lightbox.min.css" rel="stylesheet">
</head>