<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JY6F4M6HH2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-JY6F4M6HH2');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Tyler King">
	<link rel="shortcut icon" href="/img/favicon.ico" />
	
	<title>{{ page.title }} | Tyler King</title>		
	<!-- styles -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/ekko-lightbox.min.css" rel="stylesheet">
</head>