<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a href="/files/resume (16).pdf" title="Resume">Resume</a></li>
        <li class="{{ page.research }}"><a href="/research">Research</a></li>
		<li class="dropdown {{ page.projects }}"><a href="/projects" class="dropdown-toggle" data-toggle="dropdown" title="Projects">Projects <span class="caret"></span></a>
			<ul class="dropdown-menu">
                <li><a href="/projects/software">Software</a></li>
                <li><a href="/projects/hardware">Hardware</a></li>
	        </ul>
        </li>
	</ul>
	<div class="text-muted"><a href="/">Tyler King</a></div> 
</div> <!-- /header -->
