<div class="row">
    <div class="col-lg-7 col-md-7">
        <a href="{{ include.inDepth }}">
            <img class="img-responsive img-rounded" src="/img/{{ include.preview }}">
        </a>
    </div>

    <div class="col-lg-5 col-md-5">
        <h4>{{ include.title }}</h4>
        <h5>{{ include.subtitle }}</h5>
        <p>{{ include.description }}</p>
        <a class="btn btn-primary" href="{{ include.inDepth }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<hr>