---
layout: default
title: Software

research: passive
projects: active
activities: passive
description: Software Projects of Tyler King
---



<div class = "software-only-projects">
    {% include project-blurb.html preview="rotation-angle-not-a-vector.png" inDepth="https://github.com/anish-shanbhag/2022_microsoft_ionq_challenge" title="iQuHACK Hackathon Submission" subtitle="January 2022" description= "Created a mini-game that involves rotating 2-qubit statevectors into target statevectors using basic quantum gates. Implemented an adversarial mode (vs. a bot) with Deep Q-Learning."%}

    {% include project-blurb.html preview="unnamed.png" inDepth="CVUSD Tutoring.pdf" title="Tutor/Tutee Pairing" subtitle="August 2020" description= "Developed algorithms for tutor/tutee matching for over 1000 students in the Conejo Valley. Presented to the CVUSD Board of Education."%}

    {% include project-blurb.html preview="unnamed.png" inDepth="CVUSD Tutoring.pdf" title="Tutor/Tutee Pairing" subtitle="August 2020" description= "Developed algorithms for tutor/tutee matching for over 1000 students in the Conejo Valley. Presented to the CVUSD Board of Education."%}

    {% include project-blurb.html preview="6CB5.gif" inDepth="https://github.com/anish-shanbhag/incremental-pathfinding" title="Optimizing A* Results" subtitle="May-July 2021" description= "Theorized a model to optimize A* pathfinding by restricting the heuristic to pre-drawn paths. Allowed for exponential speedups in time complexity with minimal loss in accuracy."%}

</div>


