---
layout: default
title: Software

research: passive
projects: active
activities: passive
description: Software Projects of Lilly Chin
---

<h3>My main Github link is <a href="https://github.com/ltchin">here</a></h3>

<p>Most of my programming experience has been in conjunction with hardware, so please check out my <a href="/projects/hardware">hardware projects page</a> as well</p>

<p>If you are still interested in looking at Githubs, there is my very old one <a href="https://github.com/hm29168">here</a> and the account used for my <a href="/projects/hardware/FIRSTrobotics.html">FIRST Robotics</a> team <a href="https://github.com/wiredcats">here</a>.</p>

<div class = "joint-projects">
<h3>Hardware + Software Projects</h3>

  {% include project-blurb.html inDepth="../hardware/MASLAB.html" preview="maslab-preview.png" title="MASLAB Competition" subtitle="Built in 2016 <br> Won First Place" description="Cube-stacking autonomous robot built in a month"%}

  {% include small-blurb.html preview="6115-icon.jpg" url='../hardware/leeb6115.html' title="6.115: Virtual Reality Game" subtitle="Spring 2015 | <a href='../hardware/leeb6115.html'>More Info</a>" description="As the final project of 6.115, Micrcocontroller Project Lab, I created a simple virtual reality game. The player would control their character through a maze on an LCD screen by shining a flashlight on to different light sensors while stepping on a pressure pad to control their movements."%}

  {% include small-blurb.html preview="2415-icon.jpg" url="../hardware/FIRSTrobotics.html" title="FIRST Robotics" subtitle="2007 - 2013 | <a href='../hardware/FIRSTrobotics.html'>More Info</a>" description="Team captain, lead programmer, and only girl on the build team for a internationally ranked robotics team. What really inspired me to be an engineer."%}
</div>

<div class = "software-only-projects">
<h3>Software-Only Projects</h3>
  <!-- {% include small-blurb.html preview="64placeholder.png" title="Daydream" subtitle="Spring - Fall 2016" description="Interactive Fiction game written in Inform 7. Submitted to <a href='https://ifcomp.org'>IFcomp</a>. Link will be posted once competition is live."%}

  {% include small-blurb.html preview="64placeholder.png" title="Guided Dream" subtitle="2016" description="Writing version of Gregory Weir's 'Silent Conversation'. In progress."%} -->

  {% include small-blurb.html preview="website-icon.png" url="../../about/" title="lillych.in" subtitle="2016 - present | <a href='https://github.com/ltchin/ltchin.github.io'>Github</a> | <a href='../../about/'>More Info</a>" description="This website! Lovingly hand-coded."%}

  {% include small-blurb.html preview="battlecode-icon.png" url="http://www.battlecode.org" title="Battlecode" subtitle="Jan. 2014" description="Wrote AI for real time strategy game in a team of 4"%}

  {% include small-blurb.html preview="travelive-icon.png" url="/img/travelive001.png" title="HackMIT: Travelive" subtitle="Oct. 2013 | <a href='https://github.com/ltchin/Travelive'>Github</a>" description="Trip planning tool that uses Weather Underground API to tell you what weather to expect along your way"%}

  {% include small-blurb.html preview="gridtron-icon.png" url="https://github.com/hm29168/TeaTron" title="AP Computer Science AI Competitions" subtitle="Spring 2013 | <a href='https://github.com/hm29168/TeaTron'>Github</a>" description="Created AI for iterated prisoner's dilemma competitions and homemade Tron game based on GridWorld" %}
</div>


