---
layout: default
title: Software

research: passive
projects: active
activities: passive
description: Software Projects of Tyler King
---



<div class = "software-only-projects">

  {% include small-blurb.html preview="website-icon.png" url="../../about/" title="lillych.in" subtitle="2016 - present | <a href='https://github.com/ltchin/ltchin.github.io'>Github</a> | <a href='../../about/'>More Info</a>" description="This website! Lovingly hand-coded."%}

  {% include small-blurb.html preview="battlecode-icon.png" url="http://www.battlecode.org" title="Battlecode" subtitle="Jan. 2014" description="Wrote AI for real time strategy game in a team of 4"%}

  {% include small-blurb.html preview="travelive-icon.png" url="/img/travelive001.png" title="HackMIT: Travelive" subtitle="Oct. 2013 | <a href='https://github.com/ltchin/Travelive'>Github</a>" description="Trip planning tool that uses Weather Underground API to tell you what weather to expect along your way"%}

  {% include small-blurb.html preview="pwm.png" url="https://github.com/hm29168/TeaTron" title="AP Computer Science AI Competitions" subtitle="Spring 2013 | <a href='https://github.com/hm29168/TeaTron'>Github</a>" description="Created AI for iterated prisoner's dilemma competitions and homemade Tron game based on GridWorld" %}
</div>


