<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">
			{% include header.html %}
			{{ content }}
			{% include footer.html %}
		</div> <!-- /container -->	
		{% include scripts.html %}
		
			<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JY6F4M6HH2"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-JY6F4M6HH2');
		</script>
	</body>
</html>
